<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Spring OAuth 2 Demo app - Secure Home</title>
</head>
<body>
<h1>Spring OAuth 2 Demo app - Secure Home</h1>
<div style="text-align:center; margin-left:1rem; width:25%;
padding:1rem; background-color:#f4f4f4; border:1px solid #e1e1e1; border-radius:5px ">
    <h2 th:text="${name}"></h2>
    <p th:text="${username}"></p>
    <img th:src="${avatar}" alt="avatar" style="height:10rem; width:10rem; border-radius:50%; border:1px solid #e1e1e1"/>
    <br>
    <a href="/logout">Logout</a>
</div>

</body>
</html>